{{!-- <div class="fixed-action-btn">
    <a href="/movies/add" class="btn-floating btn-large waves-effect waves-light red">Add Movie<i class="fas fa-plus"></i>Add Movie</a>
</div>
<div class="btn">
    <a href="/games/add" class="btn-floating btn-large waves-effect waves-light red">Add Game<i class="fas fa-plus"></i></a>
</div> --}}