<nav class="navbar">
    <div class="nav-wrapper ">

        <a href="#!" class="brand-logo ">NERD<span class="material-symbols-outlined" style="color: yellow;">
play_circle
</span>M</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Movies</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Shows</a></li>
            <li><a href="/movies">Recomendations</a></li>
            <li><a href="/auth/logout"><span class="material-symbols-outlined">
logout
</span>Logout</a></li>
        </ul>
    </div>
</nav>

<img src="/images/logo-small.png" alt="">