<img src="logo.png" alt="Logo" style="width: 80%;">
<div class="section">
    <p class="lead">A web app to track your movies and tv shows</p>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>

