<img src="../assets/interny-logo.png" alt="logo">
<h3>Nerdom Login</h3>
<h4></h4>
<div class="section">
    <p class="lead">A web app to track your movies and tv shows</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>

