<h3>Add Games</h3>
<div class="row">
    <form action="/games" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="private" selected>Private</option>
                    <option value="public">Public</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field">
                <input type="text" id="genres" name="genres">
                <label for="title">genres</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="developers" name="developers" >
                <label for="title">Writers</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="publishers" name="publishers" >
                <label for="title">Producers</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="creators" name="creators" >
                <label for="title">Creators</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="platforms" name="platforms" >
                <label for="title">Release Date</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="actors" name="actors" >
                <label for="title">Actors</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="prominent_chars" name="prominent_chars" >
                <label for="title">Priminent Chars</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="distribution" name="distribution" >
                <label for="title">Distribution</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field">
                <h5>Description</h5>
                <textarea id="description" name="description"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>